<grammar version="1.0" xml:lang="fr-FR" mode="voice" root="ruleContext" xmlns="http://www.w3.org/2001/06/grammar" tag-format="semantics/1.0">
  <rule id="ruleContext" scope="public">
    <tag>out.action=new Object();</tag>
    <one-of>
      
      <!-- Greeting -->
      <item>Bonjour  SARAH<tag>out.action._attributes.tts = "Bonjour"</tag></item>
      <item>Aurevoir SARAH<tag>out.action._attributes.tts = "Aurevoir"</tag></item>
      <item>
        Bonjour JOCHUA
        <tag>out.action._attributes.play = "medias/joshua.mp3"</tag>
      </item>
      
      <item>
        SARAH J'ai une question 
        <tag>out.action._attributes.context = "chatterbot.xml"</tag>
        <tag>out.action._attributes.tts = "Que veux tu ?"</tag>
      </item>
      
    </one-of>
  </rule>
</grammar>